<%- include ("partials/header.ejs") %>
<% var id; %>
<!-- <div>
<div class="list-group" id="sidebar" >
    <a href="#" class="list-group-item list-group-item-action active">
      Rithika U Shetty
    </a>
    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
  </div> -->
  <div class="sidenav">
    <a href="#">TOP POSTS</a>
    <a href="#">NATURE</a>
    <a href="#">PORTRAIT</a>
    <a href="/">ABSTRACT</a>
    <a href="#">FOLK</a>
    <a href="#">OTHERS</a>
  </div>
  <div class="main">
  <div class="row">
    <% art.forEach(function(art){ %>
    <div class="col-sm-6 col-md-4">
      
      <div class="thumbnail">
       <img src="<%= art.image %>" alt="Image" style="width:250px;height:260px">
        <div class="caption">
         
        
          <p><a href="" class="btn btn-danger btn-md" role="button"><i class="far fa-heart"></i></a> 
            <span class="tmb"><%= art.name %></span>
            <% profile.forEach(function(profile){ %>
            <% if (profile.author.username == art.author.username) { %>
              <% id=profile._id %>
            <% } %>
            <% }); %>
            <a href="/artopedia/profilee/<%= id %>" class="btn btn-primary btn-md" role="button"><i class="fas fa-address-card"></i></a></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>

  </div>
  





  <!-- <div class="main">
  <div class="row" style="display:flex;flex-wrap:wrap">
<% art.forEach(function(cmp){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
           
            <div class="caption">
                <h4> <%= cmp.name %></h4>
            </div>
        </div>

    </div>
    <% }); %>
 </div>
</div> -->
<%- include ("partials/footer.ejs") %>