<%- include ("partials/header.ejs") %>
<% var id; %>
<% var id2; %>
  <div class="sidenav">
    <div class="col-sm-6 col-md-4">
    <a href="/artopedia/art">ALL POSTS</a>
    <a href="/artopedia/art/Nature">NATURE</a>
    <a href="/artopedia/art/Portrait">PORTRAIT</a>
    <a href="/artopedia/art/Abstract">ABSTRACT</a>
    <a href="/artopedia/art/Folk">FOLK</a>
    <a href="/artopedia/art/Others">OTHERS</a>
    
  </div>
</div>
  <div class="main">
  <div class="roww">
    <% art.forEach(function(art){ %>
    <div class="col-sm-6 col-md-4">
      <% profile.forEach(function(profile){ %>
        <% if (profile.author.username == art.author.username) { %>
          <% id=profile._id %>
          <% id2=profile.author.id %>
        <% } %>
        <% }); %>
      
      <div class="thumbnail">
       <img src="<%= art.image %>" alt="Image" style="width:250px;height:260px">
        <div class="caption">
         
         <p> <span class="tmb"><%= art.name %></span></p>
         <p>
          <em><%= moment(art.createdAt).fromNow() %></em>
        </p>
         <!-- <form class="form-inline"> -->
        <div class="row">

          <div class="col-xs-3">
          <a href="<%= art.image %>" class="btn btn-danger btn-md" role="button" download="image"><i class="fas fa-expand"></i></a> 
          </div>
          <div class="col-xs-3">
          <% if(currentUser && (id2.equals(currentUser._id))){ %>
            <a href="/artopedia/profilee/<%= id %>/art/<%= art._id %>/edit" class="btn btn-primary btn-md" role="button"><i class="fas fa-edit"></i></a>
           <% } %>
          </div>
           <div class="col-xs-3"> 
            <a href="/artopedia/profilee/<%= id %>" class="btn btn-primary btn-md" role="button"><i class="fas fa-address-card"></i></a>
          </div>
            <div class="col-xs-3"> <% if(currentUser && (id2.equals(currentUser._id))){ %>
           <form id="delete_post" action="/artopedia/profilee/<%= id %>/art/<%= art._id %>?_method=DELETE" method="POST">
            
           <button style="border: none;" class="btn btn-danger btn-md"><i class="fas fa-trash-alt"></i></button>

            </form>
        
          <!-- </form> -->
           <% } %>
          </div>
          </div>
        </div>
          </div>
      </div>
   
    <% }); %>
  </div>

  </div>
<%- include ("partials/footer.ejs") %>