<%- include ("partials/header.ejs") %>
<% var id; %>
<% var id2; %>
<!-- <div>
<div class="list-group" id="sidebar" >
    <a href="#" class="list-group-item list-group-item-action active">
      Rithika U Shetty
    </a>
    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
  </div> -->
  <div class="sidenav">
    <a href="/artopedia/art/toppost">TOP POSTS</a>
    <a href="/artopedia/writing/Nature">NATURE</a>
    <a href="/artopedia/writing/Love">LOVE</a>
    <a href="/artopedia/writing/Friendship">FRIENDSHIP</a>
    <a href="/artopedia/writing/Patriotic">PATRIOTIC</a>
    <a href="/artopedia/writing/Life">LIFE</a>
    <a href="/artopedia/writing/Others">OTHERS</a>
  </div>
  <div class="main">
  <div class="roww">
    <% writing.forEach(function(writing){ %>
    <div class="col-sm-6 col-md-4">
      <% profile.forEach(function(profile){ %>
        <% if (profile.author.username == writing.author.username) { %>
          <% id=profile._id %>
          <% id2=profile.author.id %>
        <% } %>
        <% }); %>
      
      <div class="thumbnail">
        <textarea class="textarea" readonly noscroll><%= writing.writing %></textarea>
        <div class="caption">
         
         
          <p><a href="#" class="btn btn-danger btn-md" role="button" ><i class="far fa-heart"></i></a> 
            <% if(currentUser && (id2.equals(currentUser._id))){ %>
            <a href="/artopedia/profilee/<%= id %>/writing/<%= writing._id %>/edit" class="btn btn-primary btn-md" role="button"><i class="fas fa-edit"></i></a>
           <% } %>
            <span class="tmb"><%= writing.name %></span>
         
            <a href="/artopedia/profilee/<%= id %>" class="btn btn-primary btn-md" role="button"><i class="fas fa-address-card"></i></a>
            <% if(currentUser && (id2.equals(currentUser._id))){ %>
            
            <form id="delete_post" action="/artopedia/profilee/<%= id %>/writing/<%= writing._id %>?_method=DELETE" method="POST">
            
           <button style="border: none;" class="btn btn-primary btn-md"><i class="fas fa-trash-alt"></i></button>

            </form>
           <% } %>
            

          </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<%- include ("partials/footer.ejs") %>